@model IEnumerable<startbootstrap_sb_admin.Models.ApplicationUser>
@{
    ViewData["Title"] = "ユーザ一覧";
}
<h2>List</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Data Table Example
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmailConfirmed)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LockoutEnabled)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AccessFailedCount)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmailConfirmed)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LockoutEnabled)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccessFailedCount)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

@section Scripts {
<script src="~/lib/sb-admin/vendor/datatables/jquery.dataTables.js"></script>
<script src="~/lib/sb-admin/vendor/datatables/dataTables.bootstrap4.js"></script>
<script>
$(document).ready(function () {
    $('#dataTable').DataTable();
});
</script>
}
